@model List<BaseballBandit.Models.User>
@{
    ViewData["Title"] = "Home Page";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Failed </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Success </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
<h2>Admin View</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Buyers", "Admin")">Buyers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Sellers", "Admin")">Sellers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Products", "Admin")">Products</a>
    </li>
</ul>
